{% extends 'base.html' %}


{% block header %}
<header class="d-flex flex-column justify-content-center align-items-center text-black fw-bold my-5 mx-5">
  <div class="display-6 mt-5">쇼생크 탈출과 비슷한 영화 추천받기</div>
</header>    
{% endblock header %}

{% block movies %}

  <div class="container d-flex justify-content-center">
    <div class="row row-cols-1 row-cols-md-2 ">
      <article>
        <div>
          <img src="https://image.tmdb.org/t/p/w500/{{ poster }} " class="card-img-top" alt="...">
        </div>
      </article>
      <article>
        <div class="card-body my-auto">
          <div class="card-title d-flex">
            <div class="pe-2" >{{ title }}</div>
            <div class="badge bg-success text-wrap" >
              {{ vote_average }}
            </div>
          </div>
          <p class="card-text my-0" style="font-size: 12px; ">{{ overview }}</p>
          <p>개봉일 : {{ release_date }}</p>
          <a href="https://www.themoviedb.org/movie/{{ id }}?language=ko" class="btn btn-primary fx-6 my-0">상세정보</a>
        </div>
      </article>
    </div>
  </div>
  <div class="mb-5"></div>
{% endblock movies %}